<% picture_url = logged_in? ? facebook_picture_url(current_user.uid) : facebook_picture_url  %>

<%= hidden_field_tag :__invitations_url, invitations_url %>
<%= hidden_field_tag :__lights_url, lights_url %>
<%= hidden_field_tag :__login_url, login_url(provider: 'facebook') %>
<%= hidden_field_tag :__ranking_url, ranking_url %>
<%= hidden_field_tag :__facebook_app_id, ENV['FACEBOOK_KEY'] %>
<%= hidden_field_tag :__facebook_scope, ENV['FACEBOOK_SCOPE'] %>
<% content_for(:title) do "Enciende una luz por la humanidad" end %>

<div class="row">

    <!-- left -->
    <div class="columns small-4 small-centered float-left" style="text-align: center; position: relative; position: fixed; padding: 0; margin: 0;">

        <div class="profile">
            <h3>
                Hola<%= " #{current_user.name}" if current_user %>!
            </h3>

            <div class="profile-img-container">
                <%= image_tag picture_url, alt: 'Perfil del usuario', id: 'user_image' %>
            </div>

            <h5 style="line-height: 30px;">
                Construye los cimientos de una <i>buena sociedad</i>
                aportando <i>ideas</i> para mejorar el mundo
            </h5>
        </div>

        <% if !logged_in? %>

            <div>

                <%= link_to(
                    'Iniciar sesión con facebook', 
                    '/auth/facebook', 
                    id: 'login_button', 
                    class: 'button face icn icn-24 facebook'
                ) %>
            </div>

        <% end %>

        <div class="actions">
            <button type="button" 
                id="invite_button"
                class="button face icn icn-32 friends only-icon">
            </button>

            <button type="button" 
                class="button face icn icn-32 ranking only-icon">
            </button>

            <% if logged_in? %>

                <%= link_to '', 
                    logout_path, 
                    method: 'delete', 
                    id: 'logout_button', 
                    class: 'button face icn icn-32 shutdown only-icon',
                    data: { confirm: '¿Está seguro que desea salir del juego?' } %>

            <% end %>

            <div id="fixed_panel">

                <button type="button"
                    data-tooltip
                    data-click-open="false"
                    title="Vamos arriba!"
                    id="init_new_light"
                    class="button icn icn-32 only-icon go up left hide">
                </button>

                <button type="button"
                    data-tooltip
                    data-click-open="false"
                    title="Vamos abajo"
                    id="init_new_light"
                    class="button icn icn-32 only-icon go down left">
                </button>

                <button type="button" 
                    data-tooltip
                    data-click-open="false"
                    title="Busca en las publicaciones"
                    class="button icn icn-32 searcher only-icon init-searcher left">
                </button>

                <% if logged_in? %>                
                    <button type="button"
                        data-tooltip
                        title="Enciende una nueva luz para la humanidad"
                        id="init_new_light"
                        class="button icn icn-32 lamp only-icon init-new-light left">
                    </button>
                <% end %>
            </div>

        </div>

        <div id="ranking_container">
            <h4 style="text-align: center; border-bottom: dashed 1px #444; padding: 10px; margin: 15px 30px;">
                Ideas más votadas
            </h4>
            <%= render partial: 'app/lights', locals: {
                    show_next_button: false, 
                    paginated_lights: @ranked_lights, 
                    col_reference: 12, 
                    ranked: true
                } %>
        </div>  
    </div>

    <!-- left -->
    <div class="columns small-7 small-centered" style="padding: 0; margin: 0;">
        <div id="lights_container">
            <!-- dynamic loading of more lights -->
            <%= render partial: 'app/lights', locals: {
                    show_next_button: @show_next_button, 
                    paginated_lights: @paginated_lights
                } %>


            <% if logged_in? %>
                <div id="main_light_container">
                    <%= render partial: 'app/wrapped_light', locals: { 
                        light: Light.new
                    } %> 
                </div>
            <% end %>

        </div>
    </div>

</div>  