<% picture_url = logged_in? ? facebook_picture_url(current_user.uid) : facebook_picture_url  %>

<%= hidden_field_tag :__invitations_url, invitations_url %>
<%= hidden_field_tag :__posts_url, posts_url %>
<%= hidden_field_tag :__login_url, login_url(provider: 'facebook') %>
<%= hidden_field_tag :__ranking_url, ranking_url %>
<%= hidden_field_tag :__facebook_app_id, ENV['FACEBOOK_KEY'] %>
<%= hidden_field_tag :__facebook_scope, ENV['FACEBOOK_SCOPE'] %>

<% if logged_in? %>
    <%= hidden_field_tag :__logged_in, true %>
    <%= hidden_field_tag :__user_pages_url, user_pages_url(user_id: current_user.id) %>
    <%= hidden_field_tag :__user_has_pages, (current_user.pages && current_user.pages.count > 0) %>
<% end %>

<% content_for(:title) do "Enciende una luz por la humanidad" end %>

<div class="top-bar">

    <div class="top-bar-title">
        <!-- icon app here -->
        <h3>Clasifase.com</h3>
    </div>

    <div>
        <!-- left -->
        <div class="top-bar-left">
            <form method="get" action="/searcher" id="searcher_form">

                <div class="row">

                    <div class="large-7 columns">
                        <button type="button" 
                            id="filter_categories"
                            class="button face icn icn-24 categories selector only-icon"
                            data-selector-url="<%= categories_selector_url %>">
                            <div class="selector-container shadow-level-1 opacity-face hide"></div>
                        </button>
                    
                        <button type="button" 
                            id="filter_location"
                            class="button face icn icn-24 location selector only-icon">
                            <!-- <div class="selector-container left shadow-level-1 opacity-face hide"></div> -->
                            <!-- @todo -->
                            <div class="selector-container shadow-level-1 opacity-face hide">
                                <div>
                                    <ul>
                                        <li><a href="#">Santiago del Estero</a></li>
                                        <li><a href="#">Tucumán</a></li>
                                    </ul>
                                </div>
                            </div>
                        </button>

                        <button type="button" 
                            id="filter_time"
                            class="button face icn icn-24 calendar selector only-icon"
                            data-selector-url="<%= time_selector_url %>">
                            <div class="selector-container shadow-level-1 opacity-face hide"></div>
                        </button>

                        <button type="button" 
                            id="filter_entity"
                            class="button face selector dropdown">
                            Publicaciones
                            <!-- @todo -->
                            <div class="selector-container shadow-level-1 opacity-face hide">
                                <div>
                                    <ul>
                                        <li><a href="#">Publicaciones</a></li>
                                        <li><a href="#">Páginas</a></li>
                                        <li><a href="#">Eventos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </button>
                    </div>

                    <div class="large-5 columns">
                        <input type="text" name="filter_text" id="filter_text" class="input-group" placeholder="Buscar">
                    </div>
                </div>
                
            </form>

        </div>

        <!-- right -->
        <div class="top-bar-right">

            <% if logged_in? %>

                <%= link_to '', 
                    logout_path, 
                    method: 'delete', 
                    id: 'logout_button', 
                    class: 'button face icn icn-24 shutdown only-icon',
                    data: { confirm: '¿Está seguro que desea salir del juego?' } %>

            <% else %>

                <%= link_to(
                    'Comenzar con facebook', 
                    '/auth/facebook', 
                    id: 'login_button', 
                    class: 'button face icn icn-24 facebook'
                ) %>

            <% end %>

            <button type="button" 
                id="invite_button"
                class="button face icn icn-24 friends only-icon">
            </button>

            <button type="button" 
                class="button face icn icn-24 ranking only-icon">
            </button>

        </div>
    </div>
</div>

<div class="row" style="border: solid 1px red;">
    <div class="columns small-12 small-centered">
        <div class="profile" style="border: solid 1px blue;">
            <h3>
                Hola<%= " #{current_user.name}" if current_user %>!
            </h3>

            <div class="profile-img-container circular-image">
                <%= image_tag picture_url, alt: 'Perfil del usuario', id: 'user_image' %>
            </div>

            <h5 style="line-height: 30px;">
                <b>Organiza</b> y  <b>dale vida</b>
                a tus perfiles de facebook y compartelas con el mundo
            </h5>
        </div>
    </div>

    <div class="columns small-12 small-centered" style="padding: 0; margin: 0;">
        <div id="posts_container">
            <!-- dynamic loading of more posts -->
            <%= render partial: 'app/posts', locals: {
                    show_next_button: @show_next_button, 
                    paginated_posts: @paginated_posts
                } %>

            <% if logged_in? %>
                <div id="main_post_container">
                    <%= render partial: 'app/wrapped_post', locals: { 
                        post: Post.new
                    } %> 
                </div>
            <% end %>

        </div>
    </div>

</div>  