<%= hidden_field_tag :__root_url, root_url %>
<%= hidden_field_tag :__main_url, main_url %>
<%= hidden_field_tag :__invitations_url, invitations_url %>
<%= hidden_field_tag :__posts_url, posts_url %>
<%= hidden_field_tag :__login_url, login_url(provider: 'facebook') %>
<%= hidden_field_tag :__ranking_url, ranking_url %>
<%= hidden_field_tag :__facebook_app_id, ENV['FACEBOOK_KEY'] %>
<%= hidden_field_tag :__facebook_scope, ENV['FACEBOOK_SCOPE'] %>

<% if logged_in? %>
    <%= hidden_field_tag :__logged_in, true %>
    <%= hidden_field_tag :__user_pages_url, user_pages_url(user_id: current_user.id) %>
    <%= hidden_field_tag :__user_has_pages, (current_user.pages && current_user.pages.count > 0) %>
<% end %>

<% content_for(:title) do "ClasiFace.Com" end %>

<%= render 'layouts/header' %>

<div id="app_dynamic" class="row">
    <%= render 'layouts/main' %>
</div>  