<% logged_in_class = logged_in? ? 'logged-in' : '' %>
<% status_class = 'playing' %>

<button type="button" id="invite_button" class="button face large icn icn-24 friends <%= logged_in_class %>">
    <%= invitation_text_button = @invitation_text_button ? @invitation_text_button : 'Invita a tus amigos' %>
</button>

<%= link_to 'Salir', 
    logout_path, 
    method: 'delete', 
    id: 'logout_button', 
    class: 'button face large ' + logged_in_class,
    data: { confirm: '¿Está seguro que desea salir del juego?' }
%>

<button id="test_button">
    close publisher
</button>

<button id="test_button_open">
    open publisher
</button>

<br><br>

<div class="row">
    <div id="invited_users" class="small-5 small-centered columns">
        <% current_user.receivers.each do |invitation| %>
            <div id="<%= invitation.endpoint_fb_uid %>" class="invited_user circle <%= status_class %>">
                <%= image_tag facebook_picture_url(invitation.endpoint_fb_uid), class: 'invited-image circle ' + status_class %>
            </div>
        <% end unless current_user.nil? || current_user.receivers.nil? %>
    </div>
</div>