<% logged_in_class = logged_in? ? 'logged-in' : '' %>
<% status_class = 'pending' %>

<br>

<div class="invitations">
    <h5>Pendientes</h5>
    <% current_user.receivers.each do |invitation| %>
        <div id="<%= invitation.endpoint_fb_uid %>" class="invitation circle <%= status_class %>">
            <%= image_tag facebook_picture_url(invitation.endpoint_fb_uid), class: 'invited-image circle ' + status_class %>
        </div>
    <% end unless current_user.nil? || current_user.receivers.nil? %>
</div>

<div class="invitations">
    <h5>Jugando</h5>
    <% current_user.remitters.each do |invitation| %>
        <div id="<%= invitation.endpoint_fb_uid %>" class="invitation circle <%= status_class %>">
            <%= image_tag facebook_picture_url(invitation.origin_fb_uid), class: 'invited-image circle ' + status_class %>
        </div>
    <% end unless current_user.nil? || current_user.receivers.nil? %>
</div>