<% 
    # abort theather_mode.inspect
    theather_mode ||= false
    disable_button = post && !post.description.blank?
    is_post_owner = post && logged_in? && current_user.id == post.user_id
    is_changing = defined?(changing) ? changing : false
    ranked ||= false
    picture_url = post && post.user ? 
        facebook_picture_url(post.user.uid) : 
        facebook_picture_url 

%>


<% if theather_mode %>

    <div class="theather" style="border: solid 1px red;">
        <img src="" alt="Image in case exists">

        <h2>
            @todo: Title nยบ #<%= @post.id.to_s %>
        </h2>

        <p>
            <%= @post.description %>
        </p>
            
    </div>

<% else # listing_mode %>
    
    <div class="base on <%= post.id ? '' : 'new' + ( logged_in? ? ' hide' : '' ) %>">

        <% if ranked %>
            <b>ranked post :D</b>
        <% end %>

        <div class="profile-img-container">
            <%= image_tag picture_url, alt: 'Perfil del usuario', id: 'user_image' %>
        </div>

        <% if post && post.id %> 

            <label>
                <b>
                    <%= is_post_owner ? 'Tu' : post.user.name %>
                </b> 
                <i>
                    <%= is_post_owner ? 'dijiste' : 'dijo' %>: 
                </i>
            </label>

            <div class="post-description">
                <% if is_changing %>
                    <div class="post-form-container">
                        <%= render partial: 'app/post_form', locals: { post: post, submit_button: false } %>
                    </div>
                <% else %>

                    <%= link_to post_url(id: post.id), class: "show-post", :'data-open' => 'modal' do %>
                        <b><%= post.id.to_s %></b> <%= post.description %>
                    <% end %>
                <% end %>
            </div>

            <% if is_changing %>

                <button type="button" class="success button icn icn-24 plant only-icon top save-post"
                    data-edit-post-url="<%= edit_post_url id: post.id %>"
                    data-tooltip 
                    aria-haspopup="true" 
                    data-click-open="false" 
                    data-disable-hover="false" 
                    tabindex="0" 
                    title="Guardar"></button>

                <button type="button" class="secondary button icn icn-24 cancel only-icon top cancel-post-form"
                    data-post-url="<%= post_url id: post.id %>"
                    data-tooltip 
                    aria-haspopup="true" 
                    data-click-open="false" 
                    data-disable-hover="false" 
                    tabindex="0" 
                    title="Cancelar"></button>

            <% else %>

                <button type="button" class="button face icn icn-24 share only-icon top"
                    data-tooltip 
                    aria-haspopup="true" 
                    data-click-open="false" 
                    data-disable-hover="false" 
                    tabindex="2" 
                    title="Compartir esta idea en facebook"></button>

                <button type="button" class="button icn icn-24 positive only-icon top"
                    data-tooltip 
                    aria-haspopup="true" 
                    data-click-open="false" 
                    data-disable-hover="false" 
                    tabindex="2" 
                    title="Voto positivo"></button>

                <button type="button" class="button icn icn-24 negative only-icon top"
                    data-tooltip 
                    aria-haspopup="true" 
                    data-click-open="false" 
                    data-disable-hover="false" 
                    tabindex="2" 
                    title="Voto negativo"></button>

                <button type="button" class="button icn icn-24 comment only-icon top"
                    data-tooltip 
                    aria-haspopup="true" 
                    data-click-open="false" 
                    data-disable-hover="false" 
                    tabindex="2" 
                    title="Comentario"></button>

                <% if is_post_owner %>

                    <button type="button" class="button icn icn-24 pencil only-icon top edit-post"
                        data-post-id="<%= post.id %>" 
                        data-edit-post-url="<%= edit_post_url id: post.id %>"
                        data-tooltip 
                        aria-haspopup="true" 
                        data-click-open="false" 
                        data-disable-hover="false" 
                        tabindex="2" 
                        title="Editar"></button>

                    <button type="button" class="button icn icn-24 trash only-icon top remove-post"
                        data-post-url="<%= post_url id: post.id %>"
                        data-tooltip 
                        aria-haspopup="true" 
                        data-click-open="false" 
                        data-disable-hover="false"  
                        tabindex="2" 
                        title="Eliminar"></button>

                <% end %>

            <% end %>

        <% else %>

            <% if logged_in? %>
                <h6 style="line-height: 30px;">
                    Aporta una <i>buena idea</i> para mejorar el mundo
                </h6>
                <div class="post-form-container">
                    <%= render partial: 'app/post_form', locals: { post: post, submit_button: true } %>
                </div>
            <% end %>
           
        <% end %> 

    </div>

<% end %>