<%= hidden_field_tag :__invitations_url, invitations_url %>
<%= hidden_field_tag :__login_url, login_url(provider: 'facebook') %>
<%= hidden_field_tag :__facebook_app_id, ENV['FACEBOOK_KEY'] %>
<%= hidden_field_tag :__facebook_scope, ENV['FACEBOOK_SCOPE'] %>
<%
    content_for(:title) do "Fasobook" end 
%>

<div class="row">

    <div class="columns small-4 profile text-center">
        <%= image_tag facebook_picture_url, alt: 'Perfil del usuario', id: 'user_image' %>
        <h4>
            Hola<b id="user_name"><%= @username %></b>!
        </h4>

        <% if logged_in? %> 

            <button type="button" id="invite_button" class="button face icn icn-24 friends <%= logged_in? ? 'logged-in' : '' %>">
                <%= invitation_text_button = @invitation_text_button ? @invitation_text_button : 'Invita a tus amigos' %>
            </button>

            <%= link_to 'Salir', 
                logout_path, 
                method: 'delete', 
                id: 'logout_button', 
                class: 'button face ' + (logged_in? ? 'logged-in' : ''),
                data: { confirm: '¿Está seguro que desea salir del juego?' }
            %>

        <% else %>

            <%= link_to(
                'Iniciar sesión con facebook', 
                '/auth/facebook', 
                id: 'login_button', 
                class: 'button face icn icn-24 facebook'
            ) %>

        <% end %>
    </div>

    <div id="app_container" class="columns small-8 app-container text-center">

<!--         <div class="row tail" style="padding: 10px;">


        </div>
 -->
        <div id="dynamic_container" style="padding: 10px;">

            <% if !logged_in? %> 

                <p>

                    testing tooltips within the data presentation 

                    <span data-tooltip 
                        aria-haspopup="true" 
                        class="has-tip top" 
                        data-disable-hover="false" 
                        tabindex="2" 
                        title="You see?  I'm open!">
                        tooltip will stay open
                    </span>

                    while more testing tooltips within the data presentation is going up

                    <span data-tooltip 
                        aria-haspopup="true" 
                        class="has-tip top" 
                        data-click-open="false" 
                        data-disable-hover="false" 
                        tabindex="2" 
                        title="I don't stay open">

                        this one will only be open when hovered

                    </span>

                </p>

            <% else %>

                <%= render partial: 'invitations' %>

            <% end %>

        </div>

    </div>

</div>