<%= hidden_field_tag :__invitations_url, invitations_url %>
<%= hidden_field_tag :__login_url, login_url(provider: 'facebook') %>
<%= hidden_field_tag :__facebook_app_id, ENV['FACEBOOK_KEY'] %>
<%= hidden_field_tag :__facebook_scope, ENV['FACEBOOK_SCOPE'] %>
<%
    content_for(:title) do "Fasobook" end 
    facebook_image_url = @facebook_image_url ? 
        @facebook_image_url : 
        asset_url("icons/user-128.png") 
%>

<div class="small-4 profile text-center">
    <%= image_tag facebook_image_url, alt: 'Perfil del usuario', id: 'user_image' %>
    <h3>
        Hola<b id="user_name"><%= @username %></b>!
    </h3>
</div>

<div id="app_container" class="app-container text-center">
    <!-- @todo: check if user is logged in -->
    <% if logged_in? %> 

        <%= render partial: 'invited_users' %>

    <% else %>
        <%= link_to(
            'Iniciar sesión con facebook', 
            '/auth/facebook', 
            id: 'login_button', 
            class: 'button face large icn icn-24 facebook'
        ) %>
    <% end %>

</div>