<% picture_url = logged_in? ? facebook_picture_url(current_user.uid) : facebook_picture_url  %>

<header class="clearfix border-blue pull-right">

    <!-- right -->
    <div class="pull-left">

        <% if logged_in? %>

            <button type="button" class="button face dropdown profile selector">

                <span>
                    <div class="circular-image">
                        <%= image_tag picture_url, alt: 'Perfil del usuario', class: 'user-image' %>
                    </div>
                    <%= current_user.name %>
                </span>

                <div class="selector-container shadow-level-1 opacity-face hide">
                    <div>
                        <ul>
                            <li>
                                <%= link_to 'Mi perfil', current_user, class: 'show-profile' %>
                            </li>
                            <% current_user.pages.each do |page| %>
                                <li>
                                    <%= link_to page.name, page_url(page.id), class: 'show-page' %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>

            </button>

            <%= link_to '', 
                logout_path, 
                id: 'logout_button', 
                class: 'button face icn icn-24 shutdown only-icon' %>

        <% else %>

            <%= link_to(
                'Comenzar con facebook', 
                '/auth/facebook', 
                id: 'login_button', 
                class: 'btn btn-lg btn-facebook m-right-5'
            ) %>

        <% end %>

        <button type="button" 
            id="invite_button"
            class="btn btn-lg btn-facebook m-right-10">
            Invita a tus amigos
        </button>

    </div>

</header>
