<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <main>
      <%= yield %>
    </main>

    <div class="reveal" id="modal" data-reveal>
      <div id="modal_content">
        <!-- dyamic mocal content -->
      </div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </body>

  <footer style="padding: 0; margin: 0;"></footer>
  
</html>

<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>